body{background-color: #eeeeee;font-family: Arial, Helvetica, sans-serif;}

input, .cell {background: transparent; outline: none; cursor: pointer;} .active {border: 1.5px solid blue !important;}

td {border: 1px solid #ddd; width: 40px !important;}

table tr::before {
  border: 1px solid #ddd;
  font-size: 10px;
  display: table-cell;
  counter-increment: rowNumber; content: counter(rowNumber) "";
  text-align: center;
  color: #949494;
}

table {
  width: 100vw;
  border-collapse: collapse;
  border: 1px solid #ddd;
  counter-reset: rowNumber;
  cursor: pointer;
}